<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="database" value="tr23connectingthebots_db" />
    <add key="collection" value="tr23conectingthebots_faq" />
    <add key="endpoint" value="https://tr23connectingthebots.documents.azure.com:443/" />
    <add key="authkey" value="grjEAjQuYKJFqMpaIXXNQ6uUqMrHereZKevD0E9UA5X7j3IO6jFuvnnXMl4m0rxTr4EvkL3KgephxcJycnqRcQ==" />
  </appSettings>
</configuration>